// Colores

//Brand colors
$color-primario: #00b2e2;
$color-secundario: #00c7fd;

//Action colors
$color-variante: #F85631;
$color-variante-dos: #0040ff;
$color-variante-tres: #5988ca;

//Boolean colors
$color-negative: #ff0000;
$color-positive: #0cbb06;
$color-warning: #ffa700;

//Background colors
$color-bg-claro: #f5f5f5;
$color-bg-oscuro: #000000;

//Basic colors
$color-claro: #ffffff;
$color-oscuro: #262626;

// ----------------------------------------------------------------------------------------------------------

// Espaciado

//Unidades
$space: 10px;
$space_half: 5px;
$space_x2: 20px;
$space_x3: 30px;
$space_x4: 40px;
$space_x5: 50px;
$space_x6: 60px;
$space_x7: 70px;
$space_x8: 80px;
$space_x9: 90px;
$space_x10: 100px;
$space_x11: 110px;
$space_x12: 120px;
$space_x13: 130px;
$space_x14: 140px;
$space_x15: 150px;

// ----------------------------------------------------------------------------------------------------------

// Fuentes y tamaños de fuentes

// Fuentes
$Fuente1: 'Roboto', sans-serif;

//typos
$h1: 48px;
$h2: 43px;
$h3: 22px;
$p: 18px;
$small: 10px;

//Typo bolds
$black: 900;
$bold: 700;
$medium: 500;
$regular: 400;
$light: 300;
$thin: 100;
