//  ███╗...███╗██╗██╗..██╗██╗███╗...██╗███████╗....██╗...██╗
//  ████╗.████║██║╚██╗██╔╝██║████╗..██║██╔════╝....╚██╗.██╔╝
//  ██╔████╔██║██║.╚███╔╝.██║██╔██╗.██║███████╗.....╚████╔╝.
//  ██║╚██╔╝██║██║.██╔██╗.██║██║╚██╗██║╚════██║......╚██╔╝..
//  ██║.╚═╝.██║██║██╔╝.██╗██║██║.╚████║███████║.......██║...
//  ╚═╝.....╚═╝╚═╝╚═╝..╚═╝╚═╝╚═╝..╚═══╝╚══════╝.......╚═╝...
//  ........................................................
//  ███████╗██╗...██╗███╗...██╗.██████╗██╗.██████╗.███╗...██╗███████╗███████╗
//  ██╔════╝██║...██║████╗..██║██╔════╝██║██╔═══██╗████╗..██║██╔════╝██╔════╝
//  █████╗..██║...██║██╔██╗.██║██║.....██║██║...██║██╔██╗.██║█████╗..███████╗
//  ██╔══╝..██║...██║██║╚██╗██║██║.....██║██║...██║██║╚██╗██║██╔══╝..╚════██║
//  ██║.....╚██████╔╝██║.╚████║╚██████╗██║╚██████╔╝██║.╚████║███████╗███████║
//  ╚═╝......╚═════╝.╚═╝..╚═══╝.╚═════╝╚═╝.╚═════╝.╚═╝..╚═══╝╚══════╝╚══════╝
//  .........................................................................

@use 'sass:math'; // Propiedad de sass para operaciones matemáticas


//Funcion para el texto responsivo
@function calculateRem($size) {
  $remSize: math.div($size, 16px);
  @return $remSize * 1rem;
}

// Dependiendo del tamaño del texto se selecciona un alto de linea automatica
@mixin font-size($size) {
  font-size: calculateRem($size);
  line-height: calculateRem($size) * 1.5;
}

// Opacidad: backgound-color: get-opacity($color-primario, .5)
@function get-opacity($color, $amount) {
  @return rgba($color, $amount);
}
